/* Navbar.css */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* แบ่งเป็น 3 คอลัมน์เท่ากัน */
  background-color: #f8f9fa;
  padding: 10px;
  align-items: center; /* จัดตำแหน่งแนวตั้งให้อยู่ตรงกลาง */
}

.grid-item2 {
  font-size: 10px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.grid-item1 {
  font-size: 18px;
  font-weight: bold;
  color: #ff573d;
  text-align: left;
}

.grid-item3 {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.a2 {
  color: #ffa43d;
}

.search-button {
  padding: 10px 20px;
  background-color: #ffffff; /* สีเขียว */
  color: rgb(255, 136, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 2px 4px 6px rgba(255, 136, 0, 0.2); /* เพิ่มเงา */
}
